/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.AMap-content{
    width: 100%;
    height: 100%;
}

.sensor-list .row .col:nth-child(1){
    text-align: right;
}

.device-refresh-time{
    position: absolute;
    top: 42px;
    right: 0px;
    background: transparent;
    font-size: 12px;
    z-index: 200;
}
.sensor-operate-bar{
    position: fixed;
    bottom: 30px;
    left: 0px;
    width: 100%;
    background: transparent;
    font-size: 12px;
    z-index: 200;
}
.sensor-operate-bar .col{
    text-align: center;
    font-size: 30px;
}
.sensor-operate-bar .iconfont.icon-tubiao104{
    /* margin-left: 1px; */
    /* margin-top: 8px; */
}
.sensor-operate-bar .iconfont{
    font-size: 56px;
    line-height: 56px;
    margin-top: 5px;
    margin-left: -11px;
    text-align: center;
    width: 100%;
    width: 70px;
}
.sensor-operate-bar .sensor-operate-up{
    background: rgba(255, 255, 255, 0.88);
    /* box-shadow: -2px 3px 1px 1px #5b5b5b; */
    float: left;
    margin-left: 70px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-align: center;
    border: none;
    transition: 0.15s ease-out;
}
.sensor-operate-bar .sensor-operate-down.activated,
.sensor-operate-bar .sensor-operate-up.activated{
    box-shadow: 0px 0px 15px #a3f205;
    background: #90d700;
    /*     width: 120px; */
    /*     height: 120px; */
    z-index: 9999999;
    /*     transform: scale(1.4,1.4); */
    transition: 0.5s ease-in;
}
.sensor-operate-bar .sensor-operate-down.activated .iconfont,
.sensor-operate-bar .sensor-operate-up.activated .iconfont{
    color: #FFF;
    transition: 0.5s;
}
.sensor-operate-bar .sensor-operate-down.activated .help-info,
.sensor-operate-bar .sensor-operate-up.activated .help-info{
    display: block;
    transition: 0.5s;

}
.help-info{
    position: absolute;
    display: none;
    font-size: 14px;
    width: 150px;
    top: -70px;
    z-index: 200;
    background: #b1b1b1;
    border-radius: 20px;
    color: #000;
    left: -40px;
    padding: 0 10px;
    font-weight: bold;
    line-height: 30px;
}
.sensor-operate-bar .sensor-operate-up.hold-on{
    /*background: yellowgreen;*/
    /*transition: 0.5s;*/
}
.sensor-operate-bar .sensor-operate-up.hold-start,
.sensor-operate-bar .sensor-operate-down.hold-start{
    background: yellowgreen;
    transition: 0.5s;
}
.sensor-operate-bar .sensor-operate-down.hold-on{

}
.sensor-operate-bar .sensor-operate-down{
    background: rgba(255, 255, 255, 0.88);
    float: right;
    margin-right: 70px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-align: center;
}
.sensor-list-wrapped{
    height: 90px;
}

.nav-active{
    color: #c90000 !important;
}

.modal-view{
    position: absolute;
    /* display: none; */
    bottom: -100%;
    left: 0;
    height: 92%;
    width: 100%;
    z-index: 1000;
    background: #ffffff;
    transition: 0.1s;
    opacity: 0;
    overflow-y: scroll;
}
.modal-view.modal-view-show{
    bottom:0;
    transition: 0.4s;
    opacity: 0.95;
    /* display: block; */
}

.map-icon-location{
    position: absolute;
    left: 10px;
    bottom: 10px;
    transition: 1s;
    z-index: 1000;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 40px;
    text-align: center;
    vertical-align: middle;
    box-shadow: -1px 3px 10px 1px #444444;
}
.map-icon-location-up{
    bottom: 93%;
}
.map-icon-location > i{
    font-size: 28px;
    color: #c90000;
    /* text-shadow: 0px 0px 20px #000; */
    /* position: absolute; */
    line-height: 32px;
    margin: 0 auto;
    display: block;
}
.map-icon-location svg{
    width: 32px !important;
    height: 32px !important;
}

.map-icon-bar{
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1000;
    max-width: 100px;
    padding: 0px 0px;
    height: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    vertical-align: middle;
    box-shadow: -1px 3px 10px 1px #ababab;
}
.map-icon-bar > i{
    display: inline-block;
    font-size: 22px;
    color: #1a2b39;
    line-height: 30px;
    margin: 0 10px;
    transition: 1s;
    /* font-weight: bold; */
}

i.alarm-normal{
    color: #cccccc;
    display: inline-block;
    font-size: 22px;
    line-height: 30px;
    margin: 0 10px;
    transition: 1s;
}
i.alarm-color{
    animation: alarm 2s infinite linear;
    -moz-animation: alarm 2s infinite linear;
    -webkit-animation: alarm 2s infinite cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-animation: alarm 2s infinite linear;
}

@keyframes alarm{
    0% {color: #cccccc}
    50% {color: red;
        text-shadow: 1px 1px 2px #ffa0a0;}
    100%{color: #cccccc}
}
@keyframes rotation{
    from {transform: rotate(0deg);}
    to {transform: rotate(720deg);}
}

.Rotation{
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear;
    -moz-animation: rotation 3s linear;
    -webkit-animation: rotation 3s linear;
    -o-animation: rotation 3s linear;
}
.device-list .button-icon .iconfont{
    color: #c90000;
    padding-top: 10px;
}
a{
    color: #c90000;
}

.row a{
    overflow: hidden;
    text-overflow: ellipsis;
}

.sensor-list .offline{

}
.sensor-list .offline .row{
    color: #bf7575;
}
.sensor-list img{
    width: 50px;
    height: 50px;
}
.sensor-list .offline-text{
    color: red;
}
.sensor-list .online-text{
    color: green;
}

.device-list .device-list-location{
    position: absolute;
    right: 26px;
    top: 12px;
}
.device-list .device-list-location > span{
    position: absolute;
    left: -10px;
    bottom: -10px;
    display: inline-block;
    width: 66px;
    text-align: center;
    font-size: 0.7em;
}

.device-list .device-no{
    font-size: 0.85em;
}

.font-bold{
    font-weight: bold;
}

.sensor-data{
    line-height:  3em;
}

.operate-btn{
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 20px;
    left: 0px;
    z-index: 99;
    width: 50px;
    text-align: right;
    height: 40px;
    transition: 0.4s;
    transition-timing-function: ease;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.49);
}
.operate-btn i{
    font-size:30px;
    line-height: 40px;
    padding-right: 6px;
    color: #fff;
}

.full-s{
    background: rgba(0, 0, 0, 0.77);
    left: -25%;
    bottom: -25%;
    height: 150%;
    width: 150%;
}

.operate-panel{
    background: rgba(5, 5, 5, 0.85);
    width: 100%;
    /* margin-left: -5%; */
    /* box-shadow: 0px 1px 10px #fff; */
    padding: 0;
    color: white;
    font-size: 30px;
}
.operate-panel .buttons .button,
.operate-panel .title{
    color: #FFF;
}

.slide-in-right {
    -webkit-transform: translateX(-100%);
    transform: translateX(100%);
}
.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}
.slide-in-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

.version-info{
    position: fixed;
    top: 0;
    right: 2px;
    font-size: 0.7em;
    color: #000;
}
.device-onLine .device-is-line{
    color: green;
}
.action-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 3px;
}
.action-list>div{
    padding-top: 5px;
    width: 25%;
    text-align: center;
}
.action-list>div i{
    font-size: 40px;
}
.action-list>div .iconfont-bottom-text{
    font-size: 12px;
    padding-top: 10px;
}
.sensor-on{
    color: greenyellow;
}
.icon-kaiguankai{
    color: greenyellow;
}
.sensor-data i{
    font-size: 45px;
}
.setting-list .row{
    padding: 0;
}
.setting-list .sensor-data input{
    border: 1px solid #bebebe;
    border-radius: 5px;
    height: 30px !important;
    padding: 0 5px;
    width: 60px;
    display: inline;
}
.setting-page input{
    width: 80px;
    padding-left: 5px;
}
.modal{
    top: inherit;
    bottom: 0;
    left: 0;
    height: 300px;
    min-height: 0;
    width: 100%;
}
.setting-list .toggle-small.item-toggle .toggle{
    right: 44px
}
.setting-list div.item{
    padding: 0;
}
.operate-btn-active{
    opacity: 0;
}
.modal-backdrop, .modal-backdrop-bg{
    background-color: rgba(0,0,0,.4);
}
.device-alarm{
    background: #ffd0d0;
}
.device-state{
    position: absolute;
    right: 100px;
    top: 22px;
}
.device-state .iconfont{
    position: relative;
    font-size: 34px;
    line-height: 26px;
}
.device-state .iconfont>span{
    position: absolute;
    font-size: 12px;
    right: -10px;
    top: -10px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align:center;
}
.a-list .item{
    overflow: inherit;
    white-space: normal;
}
.device-offline{
    /*     background: #e7e7e7; */
}
.device-offline .row a{
    color: #9a9a9a
}
.device-offline .icon-zaixian,
.device-offline .icon-ditu{
    color: #bdbdbd !important
}
.sensor-list .item{
    padding: 6px 16px;
    line-height: 26px
}
.no-more{
    text-align: center;
    background: rgb(237, 237, 237);
    color: #8d8c8c;
    font-size: 0.88em;
    padding: 2px 0;
}
.alarm-not-read p{
    color: red;
}
.no-warp{
    word-break: initial;
    word-wrap: initial;
    white-space: normal;
}
.a-red{
    color: red;
    float: right;
    font-size: 12px;
    line-height: 26px;
    text-decoration:underline;
    padding: 0;
    margin-right: -10px;
}
.a-red:after{
    content: ">>"
}
.platform-android ion-header {
    padding-top: 20px;
    /*background-color: color($colors, primary);*/
}
.color-online{
    color: #4cba35;
    font-size: 0.82em;
}
.device-offline .color-online{
    color: red;
}
.alarm-alert-message{
    position: absolute;
    z-index: 99999;
    top: 10px;
    left: 60px;
    color: white;
    background: #f00;
    border: 1px solid #c90000;
    box-shadow: 0px 0px 15px red;
    border-radius: 10px;
    width: 180px;
    height: 30px;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    opacity: 0.85;
}

