    <!--<div ng-repeat="device in dList">-->
    <!--<a ng-click="goDeviceDetail(device)" ng-bind="device.deviceName"></a>-->
    <!--<div ng-bind="device.deviceNo"></div>-->
    <!--</div>-->
    <!--<ion-scroll scrollbar-y="true">-->
    <ion-list class="list device-list">
        <ion-item class="item item-button-right" ng-class="{'device-offline': !device.isLine,'device-onLine': device.isLine,'device-alarm':device.NewAlarmCount}"
                  ng-repeat="device in dList | orderBy:'distance'">
            <div ng-click="goDeviceDetail(device)">
                <div class="row">
                    <a ng-bind="::device.deviceName"></a>
                    <!--<i class="iconfont icon-zaixian device-is-line" ></i>-->
                </div>
                <div class="row">
                    <!--<span class="device-no"  ng-bind="::device.deviceNo"></span>-->
                    <span class="color-online">{{device.isLine?"在线":"离线"}}</span>
                </div>
            </div>
            <div class="device-state">
                <i ng-show="device.aList.length" class='iconfont icon-baojing alarm-normal' ng-class='{"alarm-color": device.NewAlarmCount}' ng-click='alarmDetailModal(device.aList)'>
                    <span>{{device.NewAlarmCount?device.NewAlarmCount:""}}</span>
                </i>
                <i class="iconfont icon-zaixian device-is-line" ></i>
            </div>
            <div class="device-list-location">
                <button class="button button-icon" ng-click="$event.preventDefault();panTo(device)">
                    <i class="iconfont icon icon-ditu"></i>
                </button>
                <span>{{device.distance|distanceNum}}</span>
            </div>
        </ion-item>
        <ion-item class="no-more">已经到底啦</ion-item>
    </ion-list>
    <!--</ion-scroll>-->


