<div>
    <ul class="list setting-page">
        <div class="item item-icon-left" style="margin-top: 5px;">
            最大可操作距离：
            <input ng-model="config.VisibleMeter" ng-blur="checkEmpty('VisibleMeter')">米
        </div>
        <div>
            <ion-toggle ng-model="config.SingleMode" ng-change="changeSingleMode()"
                        toggle-class="toggle-calm">
                禁用连续上升/下降操作模式
            </ion-toggle>
        </div>
        <div ng-show="showMoreSetting">
            <div>
                <ion-toggle ng-model="ShowVConsole" ng-change="changeVConsole()"
                            toggle-class="toggle-calm">
                    显示调试面板
                </ion-toggle>
            </div>
            <div class="item">
                <button class="button" ng-click="TestTriggerAlarm()">测试报警</button>
            </div>
            <div class="item">
                <button class="button" ng-click="ClearAlarmCache()">重置警报</button>
            </div>
            <div class="item item-icon-left">
                上升下降操作间隔（ms）：
                <input ng-model="config.INTERVAL_TIME" ng-blur="checkEmpty('INTERVAL_TIME')">
            </div>
        </div>

        <a ng-hide="showMoreSetting" class="item" ng-click="OpenMoreSetting()">
            更多设置...
        </a>
    </ul>
</div>