<div>
    <ul class="list setting-page">
        <div class="item item-icon-left" style="margin-top: 5px;">
            最大可操作距离：
            <input ng-model="config.VisibleMeter" ng-blur="checkEmpty('VisibleMeter')">米
        </div>
        <div ng-show="showMoreSetting">
            <div>
                <ion-toggle ng-model="config.ShowVConsole" ng-change="changeVConsole()"
                            toggle-class="toggle-calm">
                    显示调试面板
                </ion-toggle>
            </div>
            <div class="item">
                <button class="button" ng-click="TestTriggerAlarm()">测试报警</button>
            </div>
        </div>

        <a ng-hide="showMoreSetting" class="item" ng-click="OpenMoreSetting()">
            更多设置...
        </a>
    </ul>
</div>